<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue JS</title>
  </head>
  <body>
    <h1>Hello, VueJS</h1>

    <div id="app">
      <div v-if="showBooks">
        <p>{{ title}} - {{author}} - {{age}}</p>
        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <div @click="changeTitle('The Three Musketeers')">Change Title</div>
      </div>

      <div>
        <button @click="toggle">Toggle</button>
      </div>

      <br />

      <!-- Mouse Events -->
      <!-- <div class="box" @mouseover="handleEvent($event, 12)">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">doubleclick</div>
        <div class="box" @mousemove="handleMousemove">Position - ({{x}}, {{y}})</div> -->

      <br />

      <!-- Outputting Lists -->
      <!-- <div v-for="movie in movies">
        <div class="box">
          <h2>{{movie.title}}</h2>
          <p><strong>Genre: </strong>{{movie.genre}}</p>
          <p><strong>Year: </strong>{{movie.year}}</p>
          <p><strong>Rating: </strong>{{movie.rating}}</p>
        </div>
      </div> -->

    

      <!-- Attribute Binding -->
      <!-- <a v-bind:href="url" target="_blank" rel="noopener">Bing</a>
      <div class="container">
        <div class="card" v-for="movie in movies" >
          <img :src="movie.coverImageURL" :alt="movie.title" class="card-image">
          <div class="card-content">
            <h4 class="card-title">{{movie.title}}</h4>
            <p class="card-info"><strong>Rating: </strong>{{movie.rating}}</p>
            <p class="card-info"><strong>Year: </strong>{{movie.year}}</p>
            <p class="card-info"><strong>Genre: </strong>{{movie.genre.join(", ")}}</p>
          </div>
        </div>
     </div> -->

     <!-- Dynamic Classes -->
      <!-- <div class="container">
        <div class="card" :class="{fav: movie.isFav}" v-for="movie in movies" @click="toggleFav(movie.title)" >
          <img :src="movie.coverImageURL" :alt="movie.title" class="card-image">
          <div class="card-content">
            <h4 class="card-title">{{movie.title}}</h4>
            <p class="card-info"><strong>Rating: </strong>{{movie.rating}}</p>
            <p class="card-info"><strong>Year: </strong>{{movie.year}}</p>
            <p class="card-info"><strong>Genre: </strong>{{movie.genre.join(", ")}}</p>
          </div>
        </div>
     </div> -->

    </div>

    <script src="app.js"></script>
  </body>
</html>
